* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial,sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}

header {
    width: 100%;
    margin-top: 10px;
}

.container-fluid {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.container {
    width: 1200px;
    margin: auto;
}

#header-left, #header-right {
    text-transform: capitalize;
    padding: 0 30px;
}

#header-left li, #header-right li {
    /* display: inline-block; */
    padding-left: 10px;
}

#header-right li {
    position: relative;
}

#header-left li a, #header-right li a, #privacy-right a {
    text-decoration: none;
    font-size: 13px;
    line-height: 30px;
}

#header-left li a:hover, #header-right li a:hover:not(.btn), .bottom-footer-left a:hover, .bottom-footer-right a:hover{
    text-decoration: underline;
}

.bottom-footer-left a, .bottom-footer-right a {
    text-decoration: none;
    font-size: 14px;
    color: #5f6368;
    line-height: 30px;
}

.btn {
    color: white;
    cursor: default;
    border: 1px solid #4285f4;
    background-color: #4285f4;
    padding: 5px 10px;
    font-weight: bold;
}

#logo {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 30px;
}

#search {
    width: 582px;
    height: 44px;
    border: 1px solid #dfe1e5;
    border-radius: 100px;
    background: #fff;
    margin: auto;
}

#search:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

.search-content {
    width: 100%;
    line-height: 44px;
    text-align: center;
}
input {
    border: none;
    width: 100%;
    height: 100%;
    font-size: 20px;
}

input:focus {
    outline: none;
}

.icon {
    float: left;
    width: 10%;
}

.input-search {
    float: left;
    width: 80%;
}

.fa-search, .fa-microphone {
    font-size: 20px;
}

#search-cta {
    width: 50%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
}

#search-cta a {
    text-decoration: none;
    margin: 0 30px;
    /* background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    padding: 0 16px;
    color: #5F6368; */
}

.btn-grey {
    color: #5F6368;
    border: 1px solid #f2f2f2;;
    background-color: #f2f2f2;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 14px;
    user-select: none;
    border-radius: 5px;
}

.btn-grey:focus {
    border: 1px solid #4d90fe;
    outline: none;
}

.btn-grey:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

#title-privacy {
    color: rgba(0,0,0,.87);
    font-size: 24px;
    padding-left: 24px;
}

.uppercase {
    text-transform: uppercase;
}

.btn2 {
    color: #4285f4;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 36px;
    line-height: 16px;
    padding: 10px 8px;
    text-transform: uppercase;
    margin: 0 4px;
    min-width: 88px;
    outline: none;
    position: relative;
    text-align: center;
    text-decoration: none !important;
    -webkit-user-select: none;
    white-space: nowrap;
}

.btn2:hover {
    background-color: rgba(153,153,153,.2);
}

.btn3 {
    padding: 10px 8px;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    text-align: center;
    color: white;
    font-size: 14px;
    background: #1A73E8;
}

.btn3:hover {
    /* background: rgba(26,115,232,.1); */
}

.privacy-left, .privacy-right {
    display: flex;
    align-items: center;
    padding: 0 30px;
    height: 95px;
}

#privacy {
    border-top: 1px solid #e4e4e4;
}

.top-footer, .bottom-footer {
    padding: 0 30px;
    line-height: 60px;
    background: #f2f2f2;
}

footer {
    position: fixed;
    bottom: 0;
}

li {
    display: inline-block;
}

.bottom-footer li {
    padding-right: 10px;
}

.bottom-footer-left {
    float: left;
}

.bottom-footer-right {
    float: right;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.country {
    color: rgba(0,0,0,.54);
}

.dropdown {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    width: 230px;
    background: white;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.30), 0 2px 6px 2px rgba(60,64,67,.15);
}

.dropdown li a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    display: none;
}
