* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial,sans-serif;
}

a {
    color: #000;
}

header {
    width: 100%;
    margin-top: 10px;
}

.container-fluid {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.container {
    width: 1200px;
    margin: auto;
}

#header-left, #header-right {
    text-transform: capitalize;
    padding: 0 30px;
}

#header-left li, #header-right li {
    display: inline-block;
    padding-left: 10px;
}

#header-left li a, #header-right li a{
    text-decoration: none;
    font-size: 13px;
    line-height: 30px;
}

#header-left li a:hover, #header-right li a:hover:not(.btn){
    text-decoration: underline;
}

.btn {
    color: white;
    cursor: default;
    border: 1px solid #4285f4;
    background-color: #4285f4;
    padding: 5px 10px;
    font-weight: bold;
}

#logo {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 30px;
}

#search {
    width: 582px;
    height: 44px;
    border: 1px solid #dfe1e5;
    border-radius: 100px;
    background: #fff;
    margin: auto;
}

#search:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

.search-content {
    width: 100%;
    line-height: 44px;
    text-align: center;
}
input {
    border: none;
    width: 100%;
    height: 100%;
    font-size: 20px;
}

input:focus {
    outline: none;
}

.icon {
    float: left;
    width: 10%;
}

.input-search {
    float: left;
    width: 80%;
}

.fa-search, .fa-microphone {
    font-size: 20px;
}

#search-cta {
    width: 50%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
}

#search-cta a {
    text-decoration: none;
    margin: 0 30px;
    /* background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    padding: 0 16px;
    color: #5F6368; */
}

.btn-grey {
    color: #5F6368;
    border: 1px solid #f2f2f2;;
    background-color: #f2f2f2;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 14px;
    user-select: none;
    border-radius: 5px;
}

.btn-grey:focus {
    border: 1px solid #4d90fe;
    outline: none;
}

.btn-grey:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}
